* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 1.5em 0;
}

#contenedor {
    width: 900px;
    height: 1000px;
    background-color: bisque;
    margin: 2em auto;
}

#Encabezado {
    height: 15%;
    background-color: rgb(230,200,149);
}

#barraNavegacion {
    height: 5%;
    background-color: rgb(171,161,134);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#barraNavegacion a {
    text-decoration: none;
    color: blue;
}

#barraNavegacion a:hover {
    color: black;
    background-color: yellow;
    padding: 1em;
}

#contenido {
    height: 70%;
    display: grid;
    grid-template-columns: 60% 35%;
    column-gap: 1em;
}

.encabezado-text {
    margin: 1em auto;
    text-align: center;
}

#text {
    background-color:  rgb(151,158,54);
    margin: 0 1em;
}

#text p {
    margin: 3em 2em;    
    border: 1px solid;
}

#fueraSeccion h3 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}

#contenedor-fs {
    height: 100%;
    margin: 0 0;
    background-color: rgb(190,193,79);
}

#pieNavegacion {
    height: 10%;
    background-color: rgb(230,200,149);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#imagenes {
    display: flex;
    justify-content: center;
}

#imagenes picture {
    margin: 0 5px;
}

ul {
    margin: 0 1em 1em 2em;
}

li {
    font-size: 1.2em;
}

img {
    width: 100px;
    height: 100px;
    border: 1px solid;
}
